A list can cold any kind of variables in python.

Two different lists can be concatenated with the operator "+"

TWO DIMENSIONAL LISTS:
(list in a list)

In [30]:
user1= ["harun" , 20]
user2= ["yağmur" , 20]
users=[user1,user2]
users

[['harun', 20], ['yağmur', 20]]

Finding a specified element in a list: 

(with "in" operator) 

if it is there, returns true

In [31]:
list= ["Mercedes", "Audi", "Bmv"]
isThere="Mercedes" in list
isThere

True

List methods:

max and min gives the min or max number and  latest or first letter

list.apend()= adds the given value to the list

list.instert(n, x)= adds the x value to the n'th index

list.pop(n)= deletes the value at the n'th index. if you do not type anything here, deletes the value at the latest index. pop()=pop(-1)

list.remove(n)= the given element (n) in the list = list.remove() works with same principle

list.(sort)= sorts the list alphabetically or numerically

list.reverse()= reverses the list 

list.count(n)= counts how many times given element repeated

list.clear()= clears all the elements in a list

list.index(n)= gives the index of 'n' element

list.add()= add just one element 

list.update( [ ] )= add more then one element

set(list)= removes the repeating elements

                                                             SOME EXAMPLES FOR THE USAGE OF METHODS :)

In [32]:

names = ["Ali", "Yağmur", "Hakan", "Deniz"]
years = [1998, 2000, 1998, 1997]
str="chevrolet, Dacia"

In [33]:
names.append("cenk")
names

['Ali', 'Yağmur', 'Hakan', 'Deniz', 'cenk']

In [34]:
names.insert(0,"Sena")
names

['Sena', 'Ali', 'Yağmur', 'Hakan', 'Deniz', 'cenk']

In [35]:
names.remove("Deniz")
names

['Sena', 'Ali', 'Yağmur', 'Hakan', 'cenk']

In [36]:
num=names.index("Deniz")
num

ValueError: 'Deniz' is not in list

In [ ]:
isExist="Ali" in names
isExist

True

In [ ]:
names.reverse()
names

['Deniz', 'Hakan', 'Yağmur', 'Ali']

In [ ]:
names.sort()
names

['Ali', 'Deniz', 'Hakan', 'Yağmur']

In [ ]:
years.sort()
years

[1997, 1998, 1998, 2000]

In [ ]:
Str=str.split(',')
Str

['chevrolet', ' Dacia']

In [ ]:
min=min(years)
min

1997

In [ ]:
max=max(years)
max

2000

In [ ]:
count=years.count(1998)
count

2

In [ ]:
years.clear()
years

[]

In [ ]:
brands=[]
brands.append(input("brands:" ))
brands

['tıhgt']

#                                                                   TUPLE TYPE:

Tuple does not allow one element assignments (you can change the whole tuple but cannot change just one element), that's the only difference between them

you can assign a tuple list whether by using "()" or not

In [3]:
list=[6,True,"word"]
tuple=6,True, "word"     #Also (6, True, "word")  is a true usage.

print(tuple)
# tuple[0]=5         (work as code line)
print(tuple)

(6, True, 'word')
(6, True, 'word')

we can also concatenate two tuples

In [39]:
tuple1=("Harun ")
tuple2=("kaya")
mixList=tuple1+ tuple2
mixList

'Harun kaya'

#                                                                    DICTIONARY TYPE:
works as key - value     

{key : value}

In [1]:
cities= {"Kocaeli" :41, "İstanbul" : 34}
print(cities["Kocaeli"])
cities["Ankara"]= 6          # adding a new element into a dictionary
cities["Kocaeli"]= "new value"  # changing a key's value
cities

41

{'Kocaeli': 'new value', 'İstanbul': 34, 'Ankara': 6}

In [69]:
users = {"Harun" :{
         "Surname" : "Kaya",
         "roles": ["admin","user"],
         "Location" : "Manisa",
         "Phone" : 11111111},

         "yağmur" :{
        "Surname": "abc",
        "roles" : ["user"],
        "Location" : "İzmir",
        "Phone": 9484}
         }
         
print(users)
print(users["Harun"])
print(users["Harun"]["roles"][0])

{'Harun': {'Surname': 'Kaya', 'roles': ['admin', 'user'], 'Location': 'Manisa', 'Phone': 11111111}, 'yağmur': {'Surname': 'abc', 'roles': ['user'], 'Location': 'İzmir', 'Phone': 9484}}
{'Surname': 'Kaya', 'roles': ['admin', 'user'], 'Location': 'Manisa', 'Phone': 11111111}
admin

#                                                                      SET TYPE;
### can not subscriptable (we can reach the elements by indexes) 
###

In [7]:
fruits = {"apple", "orange", "banana"}
# print(fruits[0]) # cant be subscriptable

fruits.update(["cherry", "strawberry"])  # adding a new element

for i in fruits: # getting the elements of a set
    print(i)

banana
strawberry
orange
apple
cherry